.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateY(-150px);
  font-family: "Gill Sans", sans-serif;
  background-image: url('../../../public/international-skyline.jpg');
  background-position: center calc(50% + 180px);
  background-size: cover;
}

.landing-greeting {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #005ba1;
}

.landing-prompt {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #005ba1;
}

.nav-button {
  background-color: #0077c0;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #005ba1;
  transform: scale(1.1);
}
