.create-word-container {
  padding-bottom: 80px;
}

.language-icon {
  background-color: rgb(128, 179, 128);
  margin-left: 5px;
  height: 40px;
  width: 40px;
  padding-top: 7px;
  font-size: 22px;
  border-radius: 10px;
}

.language-icon:hover {
  background-color: blue;
  cursor: pointer;
}

.input-word {
  margin-left: 20px;
  border-radius: 10px;
  height: 20px;
  width: 250px;
}

.myhome-container .practice-button {
  float: right;
  margin-right: 40px;
  height: 40px;
  width: 150px;
  background-color: #e76f51;
  border-color: #e76f51;
  color: white;
  border-radius: 50px;
  animation: ripple 4s linear infinite;
}

@keyframes ripple {
  0% {
    outline-offset: -2px;
    opacity: 1;
    background-color: #e76f51;
    /* transform: translate(-50%, -50%) rotate(0deg) translate(60px) rotate(0deg); */
  }
  25% {
    background-color: #ea907a;
  }
  50% {
    background-color: #f4a261;
  }
  75% {
    background-color: #ffb347;
    /* color: rgb(244, 239, 239); */
  }
  100% {
    outline-offset: -2px;
    opacity: 1;
    /* color: rgb(244, 239, 239); */
    background-color: #e76f51;
    /* transform: translate(-50%, -50%) rotate(360deg) translate(60px) rotate(-360deg); */
  }
}

.gear-icon {
  font-size: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}