.create-word-container {
  padding-bottom: 80px;
}

.language-icon {
  background-color: rgb(128, 179, 128);
  margin-left: 5px;
  height: 40px;
  width: 40px;
  padding-top: 7px;
  font-size: 22px;
  border-radius: 10px;
}

.language-icon:hover {
  background-color: blue;
  cursor: pointer;
}

.input-word {
  margin-left: 20px;
  border-radius: 10px;
  height: 20px;
  width: 250px;
}

.myhome-container .practice-button {
  float: right;
  margin-right: 40px;
  height: 40px;
  width: 150px;
  background-color: rgb(221, 128, 57);
  border-color: rgb(221, 128, 57);
  /* outline: 4px solid rgb(221, 128, 57); */
  border-radius: 50px;
  animation: ripple 1s ease-out infinite;
}

@keyframes ripple {
  0% {
    outline-offset: -2px;
    opacity: 1;
  }
  100% {
    outline-offset: -2px;
    opacity: 0.4;
    color: rgb(244, 239, 239);
    background-color: green;
    transform: scale(1.3);
  }
}