.practice-card-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 760px;
  margin-right: -50px;
  overflow: hidden;
}

.practice-card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-size: auto 807px;
  z-index: -1;
}

.practice-card-container--French::before {
  background-image: url('../../../public/eiffel-tower-4.jpg');
}

.practice-card-container--Spanish::before {
  background-image: url('../../../public/alhambra.jpg');
}

.practice-card-container--Italian::before {
  background-image: url('../../../public/colosseum.jpg');
}

.practice-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  height: 600px;
  width: 450px !important;
  border: 4px solid black;
  border-radius: 12px;
  margin: 20px;
  font-family: "Gill Sans", sans-serif;
  background-color: white;
}

.school-icon {
  display: flex;
  font-size: 50px;
  margin-bottom: 20px;
}

.practice-label {
  display: inline-block;
  padding-top: 20px;
  margin-top: 20px;
  /* margin-left: 20px; */
  margin-right: 20px;
}

.practice-word {
  display: inline-block;
  font-size: 24px;
  text-decoration: underline;
  padding-bottom: 20px;
}

.practice-prompt {
  display: flex;
}

.input-answer {
  display: inline-block;
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
  border-radius: 10px;
}

.submit-answer {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 20px;
  padding-top: 6px;
  border: 3px solid black;
  margin-bottom: 14px;
  margin-left: 20px;
}

.submit-answer:hover {
  transform: scale(1.2);
  background-color: rgb(32, 135, 32);
  color: white;
  cursor: pointer;
  border: 3px solid white;
}

.pass-fail-label {
  margin-right: 5px;
}

@keyframes rollout {
  0% { transform: translateY(-100px); }
  100% { transform: none; }
}

.rectangle-Pass {
  display: inline-block;
  color: transparent;
  background-color: green;
  margin-right: 3px;
  border-radius: 3px;
  animation: rollout 0.4s;
}

.rectangle-Fail {
  display: inline-block;
  color: transparent;
  background-color: red;
  margin-right: 3px;
  border-radius: 3px;
  animation: rollout 0.4s;
}

.rectangle-unattempted {
  color: transparent;
}

.practice-result-unattempted {
  color: white;
}

.practice-result-Fail {
  color: red;
}

.practice-result-Pass {
  color: green;
}

.more-info-container {
  margin-bottom: 15px;
}

.more-info-button {
  font-size: 26px;
  display: inline-block;
}

.more-info-button:hover {
  cursor: pointer;
  color: rgb(0, 21, 255);
}

.more-info-text {
  padding-top: 6px;
  padding-left: 10px;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
}

.info-card-container {
  padding: 10px;
  border: 4px solid #00A4BD !important;
  border-radius: 10px;
  background-color: rgb(226, 210, 61);
}

.answer-info-container {
  /* margin-bottom: 10px; */
}

.answer-info {
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.talk-button {
  display: inline-block;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  font-size: 18px;
  border-radius: 20px;
  padding-top: 6px;
  padding-right: 10px;
}

.talk-button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

.date-info {
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  margin-top: 15px;
  font-style: italic;
}

.success-info {
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  margin-top: 5px;
  font-style: italic;
}

